.gradle/
build/
.idea/
*.iml
run-store
store-panel.jar
/bin/
/src/main/resources/static/files/*.dat
/src/main/resources/static/files/sprites.dat
/src/main/resources/static/files/sprites.idx
/src/main/resources/static/files/*.idx0
/src/main/resources/static/files/*.idx1
/src/main/resources/static/files/*.idx2
/src/main/resources/static/files/*.idx3
/src/main/resources/static/files/*.idx4
/src/main/resources/static/files/*.idx5
*.DS_Store

src/main/resources/static/files/
